<!-- {% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %} -->

{% block main %}

<div class="main-title center_element fit-content">

    <!-- <div class="magenta-text-shadow">Life that is not recorded is Worth Nothing</div> -->
    <div class="magenta-text-shadow">all the greatest writings of the world were started by inking a single letter </div>
    
</div>
<div class=" center-elements float-bg-dark magenta-box-shadow padding-b margin-m">
    <section  class="home-section flex gap-b margin-s padding-s"  >
        <article class="float-bg-light cyan-box-shadow padding-s"> 
            
            <h1>sample index page</h1>
        </article>
        <article class="float-bg-light cyan-box-shadow padding-s"> 
            <h1>insert content here </h1>
        </article>
        <article class="float-bg-light cyan-box-shadow padding-m"> 
            <h1>you can insert content here</h1>
        </article>
    </section>

</div>
    
</div>
{% endblock %}
